body{
	margin-top: 3%;
	margin: 0px;
	padding: 0px;
	background: url('goals.jpg') no-repeat center center fixed;
	background-size: cover;
}

*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;	
}

a{
	font-weight: bold;
}

#main{
	width: 100%;
	height: 30vh;
}

nav{
	width: 100%;
	height: 80px;
	background-color: #377D7A;
	opacity: 0.8;
	line-height: 80px;
}

nav ul{
	float: right;
	margin-right: 30px;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
}

nav ul li:hover{
	background-color: #BAD525;
	transition: 0.8s all;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 30px;
}

#intro p{
	border-style: solid;
	font-weight: bold;
	font-family: Century Gothic;
	background-color: white;
	color: black;
	opacity: 0.8;
	max-width: 800px;
	width: 100%;
	list-style-type: circle;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#p2 p{
	border-style: solid;
	font-weight: bold;
	font-family: Century Gothic;
	background-color: white;
	color: black;
	opacity: 0.8;
	max-width: 500px;
	margin-left: 400px;
	margin-top: 20px;
	width: 100%;
	list-style-type: circle;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;	
}

#p3 p{
	border-style: solid;
	font-weight: bold;
	font-family: Century Gothic;
	background-color: white;
	color: black;
	opacity: 0.8;
	max-width: 800px;
	margin-left: 400px;
	margin-top: 20px;
	width: 100%;
	list-style-type: circle;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
}

#footer pre{ 
	margin-top: 200px;
   	left: 0;
   	bottom: 0;
   	width: 100%;
   	background-color: black;
   	color: white;
   	text-align: center;
   	padding-bottom: 10px;
   	padding-top: 10px;
   	opacity: 0.8;
}